/*primero vamos a google fonts y descargamos y agregamos la fuente poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Empezamos a organizar el formato de la pagina*/
*{
    margin: 0; /*margenes*/
    padding: 0; /* Quita cualquier espacio interno dentro de un elemento.*/
    box-sizing: border-box;/* Cambia la forma en que se calculan los tamaños de los elementos.*/
    text-decoration: none;/*Quita la linea de los enlaces*/
    list-style: none;/*Quita los circulos que aparecen en las listas*/
}


body{/*agregamos la fuente poppins*/
    font-family: "Poppins", sans-serif;

}

/*en el container definimos los tamaños del contenido*/
.container{
    max-width: 1200px;
    margin:0 auto;
}

/* con el header podemos darle un estilo bonito para que 
llame la atención. ¡Es como el cartel de bienvenida de una página*/
.header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
        url(imagenes/imagendelcss.jpg);
       
    background-size: cover;/*para que cubra todo el ancho y la altura*/
    background-position: center bottom; /*para poner en el centro la imagen*/
    background-repeat: no-repeat;/*para que no se repita la imagen de fondo*/
    min-height: 70vh; /*Establece una altura mínima del 70% de la altura visible de la ventana del navegador */
    display: flex; /*Convierte el elemento en un contenedor flexible, lo que permite organizar sus hijos de manera más dinámica usando Flexbox.*/
    align-items:center ; /*Alinea los elementos hijos verticalmente en el centro dentro del contenedor flexible.*/

}

.menu{
    /*Este código es típico para crear una barra de navegación fija 
    en la parte superior de la página, 
    con los elementos distribuidos de manera uniforme.*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display:flex ;
    align-items: center; /*→ Alinea los elementos hijos verticalmente en el centro.*/
    justify-content: space-between; /* Distribuye los elementos hijos a lo largo del menú, 
    dejando el primer elemento alineado a la izquierda, 
    el último alineado a la derecha y los elementos intermedios repartidos uniformemente.*/

}

/*Modificamos nuestro logo*/
.Logo{
    color: #fffdfc !important;
    font-size: 25px !important;
    font-weight: 800 !important;
}

/*enlaces se coloran a la izquierda*/
.menu .navbar ul li{

    position: relative;
    float: left;
}

/*Modificamos tamaño, color etc de los enlaces*/
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 600;
}

/*Cuando pasemos el mouse sobre los enlaces cambiara de color*/
.menu .navbar ul li a:hover{
    color: hsl(210, 100%, 56%);
}

/*Este código CSS afecta a un elemento con el id menu 
y lo oculta completamente de la vista en la página.*/
#menu{
    display: none;
}

/*Cambiamos el tamaño del icono a 25*/
.menu-icono{
    width: 25px;
}
/*Hace que ponga la mano al seleccionar algo*/
.menu label{
    cursor: pointer;
    display: none;
}

/*Centramos todo lo que esta en el hedar " cyber industries"*/
.header-content{
    text-align: center;
}

/*Modificamos todo el titulo principal*/
.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: #f9fafc;
    text-transform: uppercase;/*Separacion de las letras*/
    margin-bottom: 35px; /*Separacion letras de abajo y arriba*/
}

/*Modificamos el parrafo del titulo*/
.header-content p{

    font: size 16px;
    color: #f9fafc; 
    padding: 0 250px; /*Espacio de pixeles a la izquierda y derecha*/
    margin-bottom: 25px ; /*Separacion hacia abajo*/

}

/*Modificamos en enlace de informacion*/
.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background-color: #8bb1fc;
    color: black;
    text-transform: uppercase;
}

/*Cuando pasemos el mouse por ese enlace cambiara de color*/

.btn-1:hover{
    background-color: rgb(104, 56, 238);
}


.IA{
    padding: 100px 0;/*Agrega un espacio interno (padding) de 100 píxeles arriba y abajo.*/
    background-color: #e1e2e6;/*Establece un color de fondo en un tono gris claro.*/
    position: relative;/*Permite mover el elemento desde su posición original usando top, left, right o bottom sin afectar a los demás elementos.*/
}

.IA-content { 
    text-align: center;/*Centramos todo el contenido*/
}

/*Modificacion Titulo "Diferentes tipos de ataques"*/
.IA-content h2{
    font-size: 55px; /*tamaño*/
    line-height: 70px; /*Altura de la letra*/
    color:#323337;
    text-transform: uppercase; /*Ponemos todas las letras en mayuscula*/
    padding: 0 250px; /*Espacio del contenido y su borde*/
    margin-bottom: 15px; /*Es la separacion hacia abajo*/
}

/*Modificamos el tecto de "Diferentes tipos de ataques*/
.txt-p{
    font-size: 16px;
    color:#414247;
    padding: 0 250px;
    margin-bottom: 35px;
    
}

/*Empezamos a modificar las 3 imagenes de aca para abajo con sus parrafos*/
.IA-group{
    display: flex;/*Esto es para que los elementos se pongan delante*/
    justify-content: space-between; /*Dehja separacion*/
    margin-bottom: 50px;
    font-size: 16px;
    gap: 20px;
   
    
}

.IA-1{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    align-items: center; 
    text-align: center;/*Centramos todo el contenido*/
}

/*Imagenes azules iguales*/
.IA-1 img{
    max-width: 100%;  /* No será más grande que su contenedor */
    height: auto;
    margin-bottom: 10px;
 
}

/*Imagen de la DERECHA inicio*/
.IA-img{
    width: 250px;
    position: absolute;
    top: 0;
    right: 0;
}

.IA-1 h3{
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

/*Modificamos toda la parte de servicios*/
.Servicios{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(imagenes/imagendelcss.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;/*Hace un efecto en la imagen de fondo*/
    padding: 100px 0;

}

/*Centramos contenido*/
.Servicios-content{
    text-align: center;
}

/*Titulo de Servicios*/
.Servicios-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.Servicios-content p{
    font-size: 16px;
    color: #c5c5c5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.Servicios-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.Servicios-1{
    padding:0 100px;
}

.Servicios-1 img{
    width: 25px;
    margin-bottom: 15px;
}

.Servicios-1 h3{
    color: #eaccb3;
    font-size: 18px;
}
/*CONTENEDOR GENERAL*/
.general {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
  }
  
  .general.reverse {
    flex-direction: row-reverse;
  }
  
  .general-1 {
    text-align: center;
    width: 50%;
    background-color: #e1e2e6;
    padding: 40px;
  }
  
  .general-2,
  .general-3 {
    
    width: 50%;
    height: 300px;
    background-image: url("imagenes/imagen\ general.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .btn-1 {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #7c4af2;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
/*POR SI ALGO XD
.general{
    display: flex;
}

.general-1{
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;
}

.general-2{
    background-image: url(imagenes/imagendelcss.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;

} 

.general-3{
    background-image: url(imagenes/imagendelcss.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;

}   
*/

/*Modificamos los titulos*/
h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/*Modificamos los parrafos*/
p{
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;

}

/*EMPEZAMOS CON EL BLOG*/
.blog{
    padding: 100px;
    text-align: center;
}

.blog-content{
    display: flex;
    justify-content: space-between;
}

.blog-1{
    padding: 15px 55px;
}

.blog-1 img{
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.blog-1 h3{
    font-size: 25px;
    color: #fefeff;
}

/*DESDE ACA HACEMOS EL FOOTER*/
.footer{
    padding: 100px 0;
    background-color: rgb(5, 8, 7);
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.link h3{
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 15px;

}
.link a{
    font-size: 16px;
    color: #c5c5c5;
    display: block;
    margin-bottom: 15px;
}
/*Parte del Menu y parte RESPONSIVA*/
/*Cuando el ancho de la pantalla sea de 991px o menos, 
el elemento con clase .menu tendrá un padding de 30px.*/
@media(max-width:991px){
    .menu{
        padding: 30px;
    }
 /*El label dentro de .menu se mostrará en pantalla. 
 En muchos casos, este label representa un icono de menú (hamburguesa).*/
    .menu label{
        display: initial;
    }


    .menu .navbar{
        position: absolute;/* Hace que el .navbar se coloque fuera del flujo normal, permitiendo que se superponga sobre el contenido.*/
        top: 100%; /* Lo posiciona justo debajo del .menu (porque 100% es su propia altura).*/
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;/*Inicialmente, el menú está oculto.*/
    }
    /*Hace que cada elemento <li> ocupe el 100% del ancho, permitiendo que cada opción del menú se expanda en móviles.*/
    .menu.navbar ul li{
        width: 100%;

    }
    /*Hace que el menú sea visible cuando el usuario activa el checkbox ES DECIR CUANDO PONEMOS EL MOUSE EN EL .*/
    #menu:checked ~ .navbar{
        display: initial;
    }
    /*establece que la altura mínima del .header es 0 (lo cual puede hacer que no se muestre si no tiene contenido).*/
    .header{
        min-height: 0vh;
    }
    /*Aplica un padding de 100px en la parte superior e inferior y 30px en los lados.*/
    .header-content{
        padding: 100px 30px;
    }
    /*Elimina cualquier padding dentro de los párrafos <p> dentro de .header-content.*/
    .header-content p{
        padding: 0;
    }
    /*Agrega 30px de espacio dentro del elemento .IA en todos los lados.*/
    .IA{
        padding: 30px;
    }
    /*Elimina cualquier espacio dentro de los títulos <h2> dentro de .IA-content.*/
    .IA-content h2{
        padding: 0;
    }
    /*Aplica padding: 0; a cualquier elemento con la clase .txt-p, eliminando cualquier espacio interno*/
    .txt-p{
        padding: 0;
    }
    /* Hace que los elementos hijos dentro de .IA-group se organicen en columna (uno debajo del otro).*/
    .IA-group{
        flex-direction: column;
        margin-bottom: 0;
    }
    /*Oculta cualquier elemento con la clase .IA-img.*/
    .IA-img{
        display: none;
    }
    /*grega un espacio interno de 30px en todos los lados del contenedor .Servicios.*/
    .Servicios{
        padding: 30px;
    }
    /* Elimina cualquier espacio interno de los <p> dentro de .Servicios-content.*/
    .Servicios-content p{
        padding: 0;
    }

    .Servicios-group{
        flex-direction: column;/* Hace que los elementos dentro de .Servicios-group se apilen en columna.*/
        margin-bottom: 0;/* No deja espacio debajo del contenedor.*/
    }

    .Servicios-1{
        margin-bottom: 25px;
    }

    .general{
        flex-direction: column;

    }

    .general-1{
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .general-2, .general-3{
        display: none;
    }

    .blog{
        padding: 30px;

    }

    .blog-content{
        flex-direction: column;
    }

    .blog-1{
        padding: 0;
    }

    .footer{
        padding: 30px;
    }

    .footer-content{
        flex-direction: column;
        text-align: center;
    }
}